* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  /* background: #f7f7f7; */
  background-color: #fff;
  color: #111;
}

/* NAVBAR */
.navbar {
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  /* letter-spacing: px; */
  /* font-style: italic; */
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

.nav-icons i {
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s ease;
}

.nav-icons .fas:hover {
  background-color: #f4f0f0;
  border: 0.5px solid rgb(91, 90, 90);
}
/* DROPDOWN MENU */
.menu {
  position: absolute;
  top: 80px;
  right: 50px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: none;
  border-radius: 6px;
}

.menu a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.menu a:hover {
  background: #111;
  color: white;
}

/* HERO SECTION */
.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 100px;
  letter-spacing: 6px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #111;
}

.hero h1 span {
  font-weight: 300;
}

.hero p {
  margin-top: 15px;
  font-size: 20px;
  color: #555;
}

.hero button {
  margin-top: 30px;
  padding: 14px 40px;
  background: #d9a441;
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 25px;
  cursor: pointer;
}

.hero button:hover {
  background: #b98b35;
}
.hero-row {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.hero-row p {
  margin: 0;
  font-size: 22px;
  color: #555;
}
.hero-row button {
  padding: 12px 30px;
  background: #d9a441;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
.hero .sofa-img img {
  width: 630px;
  max-width: 100%;
  height: auto;
}

/*      -----------SECOND SEction------------
*/
.collection {
  padding: 60px 8%;
}

.collection-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.collection-head h2 {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

.collection-head button {
  background: #d9a441;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.collection-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* -----------Card -collection--------- */
.card {
  height: 400px;
  /* background: #e5e5e5; image ki jagah */
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-weight: 700;
  color: black;
  font-size: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* --------lighting-------- */
.lightening {
  background-image: url(../assests/lightening1.webp);
}
/* ---------Seating---------*/
.seating {
  background-image: url(../assests/seating.png);
  color: #fff;
}
/* ---------tables--------- */
.table {
  background-image: url(../assests/c2f9e1f5a3c1e9a81f5475b17309f068.jpg);
}
/* ---------accessories------ */
.accessories {
  background-image: url(../assests/accessories.webp);
  color: #fff;
}
.bed-section {
  padding: 80px 8%;
  text-align: center;
}

.bed-section h1 {
  font-size: 32px;
  color: #333;
  font-weight: 300;
  max-width: 900px;
  margin: auto;
  line-height: 1.4;
}

.bed-section h1 span,
.bed-section h1 b {
  color: #c9a24d;
  font-weight: 600;
}

.bed-content {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* image placeholder */
.bed-image {
  width: 800px;
  height: 300px;
  background-image: url(../assests/bed.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.bed-info {
  max-width: 260px;
  text-align: left;
}

.bed-info h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.bed-info p {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}

.price {
  margin-bottom: 15px;
}

.price .old {
  text-decoration: line-through;
  margin-right: 10px;
  color: #999;
}

.price .new {
  font-weight: bold;
}

.cart-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #7a1f1f;
  color: white;
  cursor: pointer;
}
.new-arrivals {
  padding: 60px 8%;
  background: #fafafa;
  text-align: center;
}

.new-arrivals h2 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

.subtitle {
  max-width: 800px;
  margin: 0 auto 40px;
  color: #666;
  font-size: 15px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.category {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

.product-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: #444;
}

.cart-btn {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: #9b3c2d;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.cart-btn:hover {
  background: #7f2f23;
}

.view-all {
  margin-top: 40px;
}

.view-all button {
  background: #e1a23b;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.view-all button:hover {
  background: #c88e30;
}

.about {
  display: flex;
  gap: 50px;
  padding: 60px;
  align-items: center;
}

.about-left {
  position: relative;
  margin-left: 270px;
}

.img-big img {
  width: 520px;
  height: 400px;
  border-radius: 20px;
}

.img-small img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: -60px;
}

.about-right {
  max-width: 450px;
}

.tag {
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 10px;
}

.about-right h2 {
  font-size: 28px;
  line-height: 1.3;
}

.about-right span {
  font-weight: bold;
}

.about-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #e0a23b;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .about {
    /* margin-left: 50px; */
    flex-direction: column;
    align-items: center;
  }
  .about-left {
    margin-left: 100px;
  }
}
/* -------------section 4---------- */
.vision-section {
  display: flex;
  min-height: 450px;
  background: #111;
  color: #fff;
}

.vision-content {
  width: 50%;
  padding: 60px;
}

.vision-content h2 {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 20px;
}

.vision-content p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
  max-width: 400px;
}

.vision-btn {
  margin-top: 65px;
  padding: 12px 26px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-size: 13px;
}

/* Right side (image ke liye future me) */
.vision-bg {
  background-image: url(../assests/WhatsApp\ Image\ 2026-01-22\ at\ 00.56.55.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  /* background: linear-gradient(90deg, transparent, rgba(255,255,255,0.08)); */
}

/* -------------Footer part css----------- */
.footer {
  background: #d6dce0;
  color: black;
  font-size: 16px;
}

.footer-top {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background: #978f7a;
  color: #000;
  padding: 30px 10%;
}

.feature {
  align-items: center;
  align-content: center;
  justify-items: center;
  height: 150px;
  width: 380px;
  background-color: #bebaba;
  border-radius: 20px;
}
.feature h4 {
  font-size: 24px;
}
.feature p {
  font-size: 16px;
  margin-top: 5px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-col h4 {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 15px;
}

.footer-col p {
  margin: 9px 0;
  opacity: 0.8;
}

.email-box {
  display: flex;
  margin-top: 25px;
}

.email-box input {
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  width: 200px;
}

.email-box button {
  background: #f1c45a;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #fff;
  font-size: 12px;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 55px;
  }

  .navbar {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .collection-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .collection-cards {
    grid-template-columns: 1fr;
  }

  .collection-head {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 900px) {
  .bed-content {
    flex-direction: column;
  }

  .bed-image {
    width: 100%;
  }
}
/* ---------section 4---------- */
@media (max-width: 768px) {
  .vision-section {
    flex-direction: column;
  }

  .vision-content,
  .vision-bg {
    width: 100%;
  }
}

/* ----------footer-------- */

@media (max-width: 768px) {
  .footer-top,
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer-top .feature {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
